.cardEvento {
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px !important;
    display: flex;
    height: 300px;

    padding: 0;
    background-image: url('../ImagensGuia/fotoCapa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardEvento .filtro {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardEvento .cabecalho {
    display: flex;
    justify-content: space-between;
}

.cardEvento .titulo {
    color: white;
    font-size: 32px;
    font-weight: bold;
    max-width: 50%;
}

.cardEvento .botaoPrimario {
    background-color: var(--cor-padrao);
    color: white;
    width: 150px;
    height: 40px;
}

.cardEvento .botaoPrimario.botaoEditar {
    width: 100px;
}

.cardEvento .botaoPrimario.botaoExcluir {
    width: 100px;
    background-color: rgb(240, 79, 79);
}

.cardEvento .conteudo {
    display: flex;
    justify-content: space-between;
}

.cardEvento .infoEvento {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

.cardEvento .criador img {
    width: 30px;
}

.cardEvento .tag {
    background-color: rgba(184, 184, 184, 0.6);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px;
    color: white
}

.cardEvento .tag p {
    margin: 0;
    margin-left: 10px;
}