:root {
    --cor-cinza-extra-claro: #f1f1f1;
    --cor-cinza-claro: #b8b8b8;
    --cor-cinza-medio: #888888;
    --cor-cinza-escuro: #666666;
    --cor-cinza-extra-escuro: #4D4D4D;
    --cor-padrao: #98C80B;
}