@import './Cores.css';

.secaoCapa {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url('../ImagensGuia/fotoCapa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.secaoCapa .filtro {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px;
    color: white;
    height: 100%;
}

.secaoCapa .tituloMenor {
    font-size: 24px;
}

.secaoCapa .tituloMaior {
    font-size: 38px;
    font-weight: bold;
}

.secaoCapa .localizacaoContainer {
    background-color: #b8b8b899;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 15px;
}

.secaoCapa .localizacao {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}

.secaoCapa .botaoPrimario {
    color: white;
    border-color: var(--cor-padrao);
    background-color: var(--cor-padrao);
    &:hover {
        background-color: #89b30e;
    }
}

.secaoSobre {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-cinza-extra-escuro);
}

.secaoSobre .infoContainer {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.secaoSobre .subtitulo {
    color: var(--cor-cinza-extra-escuro);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.secaoSobre .imagensContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secaoSobre .imagem {
    width: 30%;
    margin: 10px;
    box-shadow: 0px 4px 25px 10px rgba(0, 0, 0, 0.15);
}

.secaoClima {
    padding: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    color: var(--cor-cinza-extra-escuro);
}

.secaoClima .separador {
    width: 20%;
    margin: 0 40px;
}

.secaoClima .containerDireita {
    text-align: right;
}

.secaoCultura {
    padding: 80px;
    text-align: center;
    background-color: #988950;
    color: white;
}

.secaoCultura .subtitulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.secaoCultura .info {
    margin-top: 40px;
}

.secaoAreaContribuicao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    text-align: center;
    color: var(--cor-cinza-extra-escuro);
}

.secaoAreaContribuicao .conteudo {
    width: 45%;
}

.secaoAreaContribuicao .subtitulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.secaoAreaContribuicao .botoesContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.secaoAreaContribuicao .btn {
    font-weight: bold;
    width: 48%;
    height: 50px;
    border-radius: 15px;
}

.secaoAreaContribuicao .botaoPrimario {
    background-color: #988950;
    color: white;
}

.secaoAreaContribuicao .botaoSecundario {
    background-color: transparent;
    border-color: #988950;
    color: #988950;
}

.secaoAreaContribuicao .imagem {
    width: 40%;
    margin: 0 40px;
}

.rodape {
    background-color: hsla(48, 31%, 45%, 0.3);
    color: var(--cor-cinza-extra-escuro);
    padding: 40px 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape .tituloContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rodape .titulo {
    font-weight: normal;
    font-size: 24px;
}

.rodape .tituloImagem {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.rodape .conteudoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rodape .infoNumerosContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    width: 50%;
}

.rodape .infoNumerosContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape .numero {
    font-size: 36px;
    color: #988950;
}

.rodape .legenda {
    font-size: 14px;
    color: var(--cor-cinza-medio);
}

.rodape .separador {
    height: 50%;
    width: 2px;
    border-left: 1px solid rgba(128, 128, 128, 0.4);
}

.rodape .infoPessoas {
    width: 40%;
}

.rodape .criadorContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rodape .pessoaImagem {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}