@import './Cores.css';

.menu {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--cor-cinza-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .grupo {
    display: flex;
    align-items: center;
}

.menu .logo{
    width: 55px;
    margin: 10px;
}

.menu .titulo {
    font-size: 30px;
    color: var(--cor-cinza-escuro);
    font-weight: normal;
}

.menu .imagemUsuario {
    width: 45px;
    margin: 10px;
}

.menu .botao {
    background-color: #98C80B;
    border: none;
}




.pagina {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocoPrincipal {
    width: 70%;
    padding: 40px 5%;
    overflow: hidden;
}

.inputPesquisa {
    border: none;
    height: 40px;
    background-color: var(--cor-cinza-extra-claro);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.botaoPesquisa {
    width: 40px;
    border: none;
    height: 40px;
    background-color: var(--cor-cinza-extra-claro);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.botaoPesquisa img {
    width: 20px;
}

.blocoCategorias {
    margin: 30px 0;
}

.titulo {
    font-size: 24px;
    color: var(--cor-cinza-escuro);
    font-weight: normal;
}

.opcoesCategorias {
    display: flex;
}

.itemCategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.imagemCategoria {
    width: 70px;
    height: 70px;
    background-color: var(--cor-cinza-claro);
    border-radius: 15px;
}

.menuPosts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.itemMenuPosts {
    text-decoration: none;
}

.post {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px !important;
}