@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h6 {
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    color: #253858;
}

.logo img {
    max-width: 100px;
    height: 85px;
    margin-right: 20px;
}

.menu {
    display: flex;
    margin-right: 55px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #253858;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #80b309;
}

/* Aqui termina o CSS do Menu */

article .informacoes-membro {
    width: 25%;
    height: 520px;
    margin-left: 25px;
    margin-top: 60px;
}

.informacoes-membro .imagemPerfil {
    width: 296px;
    height: 296px;
    overflow: hidden;
    margin-left: 30px;
}

.informacoes-membro .imagemPerfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article .informacoesUsuario .tituloInformacoesUsuario h3 {
    font-size: 24px;
    color: #253858;
    line-height: 1.5;
    margin-left: 30px;
    margin-top: 10px;
}

article .informacoesUsuario .grupoInformacoes label {
    color: #253858;
    margin-left: 30px;
    margin-top: 6px;
    font-size: 16px;
}

article .informacoesUsuario span {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 6px;
}

article .informacoesUsuario .botaoEditarPerfil {
    width: 296px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #253858;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 30px;
}