@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './Cores.css';

.containnerPricipal .divTextos-saibaMais {
  grid-column: 1 /2;
  grid-row: 1;
  padding: 20px;
  margin-top: 45px;
  margin-right: 60px;
}

.containnerPricipal .divTextos-saibaMais .titulo h1 a {
  font-size: 45px;
  color: var(--cor-azul-escuro);
  text-align: left;
  text-decoration: none;
  transition: color 0.3s;
}

.containnerPricipal .divTextos-saibaMais .titulo h1 a:hover {
  color: var(--cor-padrao);
}

.containnerPricipal .divTextos-saibaMais .mensagem {
  margin-top: 50px;
}

.containnerPricipal .divTextos-saibaMais .mensagem p {
  text-align: justify;
  text-indent: 2em;
  line-height: 29px;
}

.mensagem span.destaque {
  font-weight: bold;
  color: var(--cor-azul-escuro);
  transition: color 0.3s;
}

.mensagem span.destaque:hover {
  color: var(--cor-padrao);
}