@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
@import './Cores.css';
/* 
body{
    background-color: var(--cor-cinza-claro);
} */
article .containnerPrincipal{
    width: 780px;
    height: auto;
    padding: 30px;
    margin-bottom: 50px;
background-color:#1db95c;
    font-family: 'Open Sans', sans-serif;
    /* position: absolute;
     top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); */
    margin-top:35px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px; */
}

article .containnerPrincipal .cabecalho{ 
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  width: 100%; 
  height: auto;
}

article .containnerPrincipal .cabecalho .titulo h1{
    font-size: 28px;
    font-weight: bold;
    color: var(--cor-azul-escuro);
}
